
<script>


$(document).ready(function() {

	// Pie chart
	
    var options = {
        series: [{{stud_absent}},{{stud_present}}],
        chart: {
        width: 380,
        type: 'pie',
      },
      labels: ['Absent','Present'],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
      };

      var chart = new ApexCharts(document.querySelector("#course_attendance"), options);
      chart.render();

  
});

</script>