
{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Students</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
          {% include 'includes/messages.html' %}
          <div class="col-auto text-right float-right ml-auto">
            
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            
                            <th>Gender</th>
                            <th>Address</th>
                            
                           
                         </tr>
                      </thead>
                      <tbody>
                            {% for i in staff %}


                         <tr>
                            <td>{{i.id}}</td>
                            <td>
                               <h2 class="table-avatar">

                                  {% if i.admin.profile_pic == ""  %}
                                 <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/def_user.jpeg' %}" alt="User Image"></a>
                                 {% else %}
                                  <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                 {% endif %}
                                  <a href="#">{{i.admin.first_name}} {{i.admin.last_name}}</a>
                               </h2>
                            </td>
                            <td>{{i.admin.email}}</td>
                           
                            <td>{{i.gender}}</td>
                            <td>{{i.address}}</td>
                            
                           
                         </tr>
                        {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


{% endblock %}